@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
body {
  font-family: "Girassol", cursive;
}
.container-app {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url("https://picsum.photos/1600/900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .container-app {
    flex-direction: column;
    align-items: center;
  }
}
a {
  transition: all 1s;
}
a:hover {
  color: blue !important;
}
.cursor-pointer {
  cursor: pointer;
}
.normal-text::after {
  content: "\270f";
  font-family: "Glyphicons Halflings";
}
